swagger: '2.0'
info:
  version: 0.0.1
  title: Environmental Exposures API
  description: Environmental Exposures API
  termsOfService: None
  contact:
    name: Michael J. Stealey
    url: 'https://github.com/renci/nih-exposures-api'
    email: stealey@renci.org
  license:
    name: MIT
    url: 'http://opensource.org/licenses/MIT'
host: 'exposures.renci.org'
basePath: /v1
schemes:
  - https
  - http
paths:
  /cmaq:
    get:
      summary: list of CMAQ exposures
      description: |
        list of CMAQ exposures
        @param 
        - None

        @return 
        - {JSON object} cmaq - returns array of exposure objects available from
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              cmaq:
                type: array
                items:
                  type: object
                  properties:
                    exposureType:
                      type: string
                    exposureUnit:
                      type: string
                    startDate:
                      type: string
                      format: date
                    endDate:
                      type: string
                      format: date
                    resolution:
                      type: array
                      items:
                        type: string
                    aggregation:
                      type: array
                      items:
                        type: string
        '400':
          description: Invalid parameter
        '404':
          description: No exposure types found
        '500':
          description: Server error
  /cmaq/getValues:
    get:
      summary: get values for exposure type at location for date range
      description: >
        get values for exposure type at location for date range
        
        @param 
        - {string} exposureType - unique exposure type in CMAQ

        - {date} startDate - start date of exposure

        - {date} endDate - end date of exposure

        - {string} latLon - latitude, longitude of exposure (multiples to be

        seperated by semicolon ";")

        - {string} - resolution - temporal resolution (hour, day, 7day, 14day),
        default day

        - {string} - aggregation - numerical aggrigation (max, avg), default max

        - {string} - utcOffset - timezone offset from UTC (utc, eastern,
        central, mountain, pacific) - default=utc
          
        @return 

        - {JSON object} values - returns array of exposure values based on date
        range and location
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/cmaq_exposureType'
        - $ref: '#/parameters/cmaq_startDate'
        - $ref: '#/parameters/cmaq_endDate'
        - $ref: '#/parameters/cmaq_latLon'
        - $ref: '#/parameters/cmaq_resolution'
        - $ref: '#/parameters/cmaq_aggregation'
        - $ref: '#/parameters/cmaq_utcOffset'
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              values:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    dateTime:
                      type: string
                      format: date-time
                    latLon:
                      type: string
        '400':
          description: Invalid parameter
        '404':
          description: No values found
        '500':
          description: Server error
  /cmaq/getScores:
    get:
      summary: get score for exposure type at location for date range
      description: >
        get score for exposure type at location for date range
        
        @param 
        - {string} exposureType - unique exposure type in CMAQ

        - {date} startDate - start date of exposure

        - {date} endDate - end date of exposure

        - {string} latLon - latitude, longitude of exposure (multiples to be
        seperated by semicolon ";")

        - {string} - resolution - temporal resolution (hour, day, 7day, 14day),
        default day

        - {string} - aggregation - numerical aggrigation (max, avg), default max

        - {string} - utcOffset - timezone offset from UTC (utc, eastern,
        central, mountain, pacific) - default=utc


        @return 

        - {JSON object} scores - returns array of exposure scores based on date
        range and location
      produces:
        - application/json
      parameters:
        - $ref: '#/parameters/cmaq_exposureType'
        - $ref: '#/parameters/cmaq_startDate'
        - $ref: '#/parameters/cmaq_endDate'
        - $ref: '#/parameters/cmaq_latLon'
        - $ref: '#/parameters/cmaq_resolution'
        - $ref: '#/parameters/cmaq_aggregation'
        - $ref: '#/parameters/cmaq_utcOffset'
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              scores:
                type: array
                items:
                  type: object
                  properties:
                    score:
                      type: string
                    dateTime:
                      type: string
                      format: date-time
                    latLon:
                      type: string
        '400':
          description: Invalid parameter
        '404':
          description: No scores found
        '500':
          description: Server error
parameters:
  cmaq_exposureType:
    name: exposureType
    in: query
    description: exposure type
    required: true
    type: string
  cmaq_startDate:
    name: startDate
    in: query
    type: string
    format: date
    description: start date of range
    required: true
  cmaq_endDate:
    name: endDate
    in: query
    type: string
    format: date
    description: end date of range
    required: true
  cmaq_latLon:
    name: latLon
    in: query
    type: string
    description: 'latitude,longitude - multiples separated by ;'
    required: true
  cmaq_resolution:
    name: resolution
    in: query
    description: temporal resolution - default=day
    required: false
    type: string
    default: day
  cmaq_aggregation:
    name: aggregation
    in: query
    description: numerical aggregation - default=max
    required: false
    type: string
    default: max
  cmaq_utcOffset:
    name: utcOffset
    in: query
    description: >-
      timezone offset from UTC (utc, eastern, central, mountain, pacific) -
      default=utc
    required: false
    type: string
    default: utc